@page "/atom"

<h1>Hydrogen Atom</h1>

<table>
    <tr>
        <td>Bohr Radius</td>
        <td><em>5.29 × 10E-11</em></td>
        <td><em>m</em></td>
    </tr>
    <tr>
        <td>Speed of light</td>
        <td><em>3 × 10E8</em></td>
        <td><em>m/s</em></td>
    </tr>
    <tr>
        <td>Electron mass</td>
        <td><em>9.1 x 10E-31</em></td>
        <td><em>kg</em></td>
    </tr>
    <tr>
        <td>Proton/Electron mass ratio</td>
        <td><em>1,836</em></td>
    </tr>
    <tr>
        <td>Planck's constant</td>
        <td><em>6.6 x 10E-34</em></td>
        <td><em>kg m<sup>2</sup> s<sup>-1</sup></em></td>
    </tr>
</table>