@page "/"
@using Eccentricity
@inject Calculator Calculator

<h1>Eccentricity Functions</h1>

<p>Calculate eccentricity functions for l=2</p>
<br/>

@if (finalSeries == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @for (int i = 0; i < finalSeries.Count; i++)
    {
        var term = finalSeries[i];

        @if (term.Numerator != 0)
        {
            if (term.Numerator > 0)
            {
                <span>+</span>
            }
            else
            {
                <span>-</span>
            }

            <span>
                <span>@Math.Abs(@term.Numerator)&frasl;@term.Denominator</span><span>e<sup>@i</sup></span>
            </span>
        }
    }
}

@code {
    private List<Fraction> finalSeries;

    protected override void OnInitialized()
    {
        finalSeries = Calculator.Calculate(0, 1);
    }
}
